.box1 {
    float: left;
    width: 25%;
    background-color: brown;
    height: 540px;
    margin-left: 10px;
}

.box2 {
    float: left;
    width: 25%;
    background-color: purple;
    height: 540px;
    margin-left: 10px;
}

.box3 {
    float: left;
    width: 25%;
    background-color: green;
    height: 540px;
    margin-left: 10px;
}

.box4 {
    float: left;
    width: 25%;
    background-color: orange;
    height: 540px;
    margin-left: 10px;
}
