.box1 {
    float: right;
    background-color: salmon;
    width: 77%;
    height: 170px;
    margin-top: 20px;
}

.box2 {
    float: left;
    background-color: yellow;
    margin-top: 20px;
    width: 160px;
    height: 170px;
}

.box3 {
    float: right;
    background-color: beige;
    width: 77%;
    height: 170px;
    margin-top: 20px;
}

.box4 {
    float: left;
    background-color: teal;
    height: 170px;
    width: 170px;
    margin-top: 20px;
}

.box5 {
    float: right;
    background-color: pink;
    width: 100%;
    height: 130px;
    margin-top: 20px;
}